@charset "utf-8";

@media (max-width: 1799px) { 
	.insideGallery{
		top: 65px;
	}
	.teamslide{
		padding: 20px 0px 20px 0px;
	}

}
@media (max-width: 1699px) { 
	
	.insideGallery{
		top: 80px;
	}	
	.insideBordHead p{
		font-size: 0.9rem;
	}	
	
	.insideBordHead{
		max-width: 1200px;
	}
	
	.teamslide{
		max-width: 1200px;
	}	
	
	.itembtn span{
		padding: 5px 10px;
		font-size: 0.9rem;
		border-radius: 5px;
	}
	
	.insideBordHead a span{
		font-size: 0.7rem;
	}
	
}

@media (max-width: 1585px) { 
	
	.insideGallery{
		top: 70px;
	}
	
	.teamslide{
		padding: 10px 0px 10px 0px;
	}
	
}

@media (max-width: 1495px) { 
	
	.insideGallery{
		top: 65px;
	}
	
	.insideBordHead p{
		font-size: 0.8rem;
	}
	
	.itembtn span {
		font-size: 0.8rem;
	}
	
}

@media (max-width: 1445px) { 
	
	.insideGallery{
		top: 53px;
	}
	
	.insideBordHead a span {
   		 font-size: 0.6rem;
	}
	
	.teamslide{
		padding: 0px 0px 0px 0px;
	}	
	
	.mxwth {
		max-width: 900px;
	}
	
	.itembtn span {
		font-size: 0.7rem;
	}
}

@media (max-width: 1360px) { 
	
	.insideBordHead {
		max-width: 1060px;
	}	
	.mxwth {
		max-width: 900px;
	}
	
	.teamItem {
		display: block;
		text-align: center;
	}
	
	.teamItem .item {
		width: 150px;
		display: inline-block;
	}
	
	.itembtn {
		padding-bottom: 10px;
	}
	
}

@media (max-width: 1250px) { 
	.insideGallery {
    top: 50px;
	}
}

@media (max-width:  1199.98px) { 

	.teamItem .item {
		width: 120px;
	}
	
	.itembtn span {
		font-size: 0.5rem;
	}
	
	.insideBordHead p {
		font-size: 0.5rem;
	}
	
	.insideBordHead {
		max-width: 850px;
	}
	.insideBordHead a span {
		font-size: 0.5rem;
	}
	.insideBordHead a span {
		font-size: 0.5rem;
		display: block;
		margin-top: -4px;
	}
	
	.sectionIntro h2{
		font-size: 1.6rem;
	}
	
	.sectionIntro p{
		font-size: 0.9rem;
	}
	
	.brandArea img{
		width: 300px;
	}
	.mxwth {
		max-width: 700px;
	}	
	
}

@media (max-width:  1050.98px) { 

	.teamItem .item {
		width: 110px;
	}
	
	.itembtn span {
		font-size: 0.5rem;
	}
	
	.insideBordHead p {
		font-size: 0.5rem;
	}
	
	.insideBordHead {
		max-width: 850px;
	}
	.insideBordHead a span {
		font-size: 0.5rem;
	}
	.insideBordHead a span {
		font-size: 0.5rem;
		display: block;
		margin-top: -4px;
	}	.mxwth {
		max-width: 700px;
	}	
	
}

@media (max-width: 992.98px) { 
	.teamItem {
		display: flex;
	}
	.connectWallet{
		padding: 30px 0px 0px 0px;
		text-align: center;
	}
	.connectWallet img{
		width: 120px;
	}.brandArea img {
    padding-top: 30px;
	}
	.insideBordHead a span {
		font-size: 0.8rem;
		margin-top: 0px;
	}
	.insideBordHead p {
		font-size: 0.8rem;
	}
	.borderimg {
	  content: url("../images/mobileBorder.png")!important;
	}
		.itembtn span {
		font-size: 0.7rem;
	}

	.teamItem {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}.smyyy{
	display: block;
}
	
	.insideBordHead{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	.insideGallery{
		top: 150px;
	}

	.insideBordHead div {
		flex-direction: column;align-items: center;
		margin-bottom: 15px;
	}
	.teamItem .item {
		width: 250px;
	}
	
	.insideBordHead a span{
		margin-left: 0px;
	}
	
	.smnn{
		display: none!important;
	}
		
	.smyy{
		display: block!important;
	}
	
}

@media (max-width: 767.98px) { 
	
	.rankarea {
		flex-direction: column;
	}

	.rankarea p:nth-child(2){
		border-left: none;
		border-right: none;
	}
	
	.brandArea img{
		width: 300px;
	}	
	
	.sectionIntro h2{
		font-size: 1.7rem;
	}
	
	.insideGallery{
		top: 120px;
	}

	.insideBordHead div {
		flex-direction: column;align-items: center;
		margin-bottom: 15px;
	}
	.teamItem .item {
		width: 250px;
	}
	
}

@media (max-width: 659.98px) {
	
	.insideGallery{
		top: 100px;
	}
	
	.teamItem .item {
		width: 200px;
	}
	
}

@media (max-width: 575.98px) {
	
	.pageFooter ol li a img{
		width: 30px;
	}
	
	.rankarea p{
		font-size: 1rem;
	}	
	
	.brandArea img{
		width: 220px;
	}
	
	.sectionIntro p{
		font-size: 0.7rem;
	}
	
	.teamItem .item {
		width: 150px;
	}	
	.insideGallery{
		top: 80px;
	}
	
	.insideBordHead p {
		font-size: 0.7rem;
	}
	
	.sectionIntro h2{
		font-size: 1.3rem;
	}
	
}

@media (max-width: 490.98px) {
	
	.insideGallery{
		top: 70px;
	}
	.insideBordHead p {
		font-size: 0.6rem;
	}

	.borderimg {
	  content: url("../images/mobileBorder2.png")!important;
	}
	
}

@media (max-width: 393.98px) {

	.borderimg {
	  content: url("../images/mobileBorder3.png")!important;
	}
	
	.insideGallery{
		top: 90px;
	}
	
}

@media (max-width: 385.98px) {

	.borderimg {
	  content: url("../images/mobileBorder4.png")!important;
	}
	
}

@media (max-width: 368px) {

	.borderimg {
	  content: url("../images/mobileBorder5.png")!important;
	}
	
}

@media (max-width: 338px) {
	.borderimg {
	  content: url("../images/mobileBorder6.png")!important;
	}
	
}
@media (max-width: 324px) {
	.borderimg {
	  content: url("../images/mobileBorder7.png")!important;
	}
	
}
